@import "tailwindcss";

:root {
  --ez-bg: #F7EAD2;
  --ez-primary: #FF6A1A;
  --ez-primary-hover: #D64B11;
}

button {
  @apply bg-[var(--ez-primary)] shadow-[2px_2px_4px_0_#00000050] rounded-lg border-0 transition-all px-4 py-2 text-base font-normal text-gray-50 hover:bg-[var(--ez-primary-hover)];
}

button:hover {
  @apply bg-[var(--ez-primary-hover)] shadow-md;
}

select {
  @apply border border-gray-300 rounded-lg px-3 py-2 text-sm bg-white text-gray-900 outline-none focus:ring-1 focus:ring-orange-300;
}

input {
  @apply border border-gray-300 rounded-lg px-3 py-2 text-sm bg-white text-gray-900 outline-none focus:ring-1 focus:ring-orange-300;
}